package main

import (
	"github.com/GoLangDream/iceberg"
	"{{project_name}}/initializers"
)

func main() {
	iceberg.InitApplication(&initializers.{{class_name}}ApplicationConfig{})
	iceberg.StartApplication()
}
